<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Geo Dash.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>236DCBEB1D5C47FC00787092</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>236DCC031D5C47FC00787092</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>236DCC0E1D5C47FC00787092</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
